.label {
  color: #22414a;
  font-family: "Denk One", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  width: 50%;
}

.inputDiv {
  display: flex;
  width: 95%;
  height: 4rem;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  height: 50%;
  background: #fff8f8;
  border: 0;
  margin-top: 0.5rem;
}

.container {
  flex-direction: column;
  display: flex;
}

.loginButtonDiv {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.loginButton,
.signButton {
  width: 50%;
  mix-blend-mode: normal;
  box-sizing: border-box;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  padding-top: 0.5rem;
  background-color: transparent;
  border: 0.3rem solid #22414a;
  filter: drop-shadow(0px 5.575px 5.575px rgba(0, 0, 0, 0.25));
}

.signButton {
  background-color: #2e464d;
  border: 0.3rem solid #000000;
}

.h1 {
  font-family: "Denk One", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #22414a;
  mix-blend-mode: normal;
  width: 50%;
}

.divh1 {
  display: flex;
  justify-content: center;
}

.signh1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;

  color: #f9f9f9;

  /* mix-blend-mode: normal; */
}
