.collapsed,
.expanded {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.collapsed {
  max-height: 0;
}

.expanded {
  height: auto;
  max-height: 10rem;
}

.buttonCollapsed {
  background-color: #267587;
}

.buttonExpanded {
  background-color: #000000;
}
