.inputListDiv {
  overflow-y: scroll;
  max-height: 10rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputList {
  height: 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  border: 0;
  width: 8rem;
  margin-bottom: 0.5rem;
}

.addDivButton {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  position: fixed;
  transform: translate3d(0, 0, 0);
  left: 1.5rem;
  align-items: center;
}

.addButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  display: flex;
  border: 1px solid transparent;
  background-color: #fff8f8;
}

.inputListContainerDiv {
  display: flex;
  justify-content: center;
}
