.auth {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.divTitle {
  display: flex;
  justify-content: center;
}

.h1Title {
  font-family: "Denk One", "sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 56px;
  color: #22414a;
}

.cubeButton {
  font-size: 1.5rem;
  width: 50%;
  justify-content: center;
  color: #f9f9f9;
  height: 4rem;
}

.cubeDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding-bottom: 1rem;
}
