.header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 1rem;
}

.div {
  display: flex;
  width: 95%;
  height: 4rem;
  flex-direction: row;
  align-items: center;
}

.editButton {
  align-items: center;
  display: flex;
}
